# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node modules (dependencies)
node_modules/

# Logs and cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.angular/cache
.sass-cache/
testem.log
/coverage
/typings
/libpeerconnection.log

# Environment files
*.env
src/environments/*.ts

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
.history/*

# System files
.DS_Store
Thumbs.db
