header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 0;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: white;
}

.add-btn {
  background-color: #4db6ac;
  padding: 8px 20px;
  border-radius: 4px;
  font-weight: 500;
}