<app-add-task [taskToEdit]="taskToEdit" (onAddTask)="addTask($event)" (onUpdateTask)="updateTask($event)"></app-add-task>

<div class="select">
    <label for="sort">Sort By:</label>
    <select id="sort" (change)="changeSort($event)">
        <option value="dateCreatedAsc">Newest First</option>
        <option value="dateCreatedDesc">Oldest First</option>
        <option value="dueDateEarly">Due Soon</option>
        <option value="dueDateLate">Due Latest</option>
        <option value="priorityLow">Lowest Priority</option>
        <option value="priorityHigh">Highest Priority</option>
    </select>
</div>


<app-task-item *ngFor="let task of tasks" 
[task]="task" 
(onEditTask)="editTask(task)"
(onDeleteTask)="deleteTask(task)"
(onToggleReminder)="toggleReminder(task)"
></app-task-item>